@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.0 - GENERIC
-------------------------------------------------------------- */

*{
	
	-webkit-box-sizing:border-box;
	-mox-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	font-family: 'Raleway', sans-serif;
}


html{
scroll-behavior: smooth;
}



/*--------------------------------------------------------------
4.0 - ELEMENTS 
-------------------------------------------------------------- */

/* -- TYPOGRAPHY -- */ 


li {
	display: inline-block;
}

h1 {
	text-align: center;
	font-size: 50px;
	border-bottom: solid 3px black;
}

/*--------------------------------------------------------------
5.0 - OBJECTS 
-------------------------------------------------------------- */

/* -- FRAMEWORK -- */ 

.wrapper {
	width:1170px;
	margin: 0 auto;
}

.row {
	overflow: auto;
}

/*--------------------------------------------------------------
6.0 - COMPONENTS
-------------------------------------------------------------- */

/* -- NAV -- */ 

nav div ul {
	float: left;
}

nav div:nth-child(2) ul {
	text-align: center;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #95D9F1;
}


nav div, .slideshow-text, h1, .catigories p, h2{
	text-transform: uppercase;
}

nav{
	width: 1000px;
}


/* -- SLIDESHOW -- */

#bg-lifeguard{
	background: url("../img/lifeguard-stand-strip.jpg") no-repeat scroll;
	-webkit-background-size: cover;
	-ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 600px;
}

#bg-women-door{
	background: url("../img/women-door-strip.jpg") no-repeat scroll;
	-webkit-background-size: cover;
	-ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 600px;
}

#bg-village{
	background: url("../img/village-strip.jpg") no-repeat scroll;
	-webkit-background-size: cover;
	-ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 600px;
}
.slideshow-text {
	background-color: #FFFFFF;
	width: 500px;
	height: 150px;
	position: absolute;
	top: 450px;
 	left: 470px;;
	padding: 30px;
	margin-top: 0px;
}

.slideshow-text p:first-of-type {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 10px;
}

.slideshow-text p {
	text-align: center;
	font-weight: 600;
}

/* -- HEADER -- */ 


.bg-cream {
	background-color: #FFFEF4;
}

.bg-light-blue {
	background-color: #C4EFFE;
	padding: 20px;
}


.img-string div, #travel, #lifestyle, .number{
	float:left;
}

.number {
	width: 20px;
	text-align: center;
	border: solid black 1px;
	
}

#shop, .col-2-2 {
	float: right;
}

#travel, #lifestyle {
	margin-right: 130px;
}

#travel, #lifestyle, #shop {
	margin-top: 50px;
}

#travel p, #lifestyle p, #shop p{
	background-color: #FFFFFF;
	width: 150px;
	height: 75px;
	padding: 30px;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 10px;
}

#travel p {
	position: absolute;
	top: 960px;
	left: 200px;
}

#lifestyle p {
	position: absolute;
	top: 960px;
	left: 650px;
}

#shop p {
	position: absolute;
	top: 960px;
	left: 1100px;
}
#travel {
	background: url("../img/women-beach.jpg") no-repeat scroll;
	-webkit-background-size: cover;
	-ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
	width: 300px;
	height: 300px;
}

#lifestyle {
	background: url("../img/beach-camp.jpg") no-repeat scroll;
	-webkit-background-size: cover;
	-ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
	width: 300px;
	height: 300px;
}

#shop {
	background: url("../img/women-sunhat.jpg") no-repeat scroll;
	-webkit-background-size: cover;
	-ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
	width: 300px;
	height: 300px;
}

.col-1-2 {
	float: left;
}

.col-2-2 {
	float: right;
}

.col-1-2, .col-2-2 {
	width:550px;
}

.col-2-2 {
	margin-top: 200px;
}

h2 {
	font-weight: 500;
	font-size: 25px;
}

.white-box p {
	font-weight: 700;
	border-bottom: solid 3px black;
}

.square-outline {
	border: solid black 3px;
	height: 400px;
	width: 400px;
}

.square-outline:first-of-type {
	margin-top: 200px;
}


.img-offset-1 {
	background: url("../img/women-door.jpg") no-repeat scroll;
	-webkit-background-size: cover;
	-ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
	width: 400px;
	height: 400px;
	position: absolute;
	top: 1325px;
	left:175px;
}


.white-box-1, .white-box-2, .white-box-3 {
	background-color: #FFFFFF;
	width: 500px;
	padding: 20px;
	
}

.white-box-1, .white-box-3{
	position: relative;
	top: 0px;
	left: -350px;
}

.white-box-text-1, .white-box-text-2, .white-box-text-3 {
	background-color: white;
	width:500px;
	height:250px;
	padding: 30px;
	margin: 20px;
}

.img-offset-2 {
	background: url("../img/women-sunhat.jpg") no-repeat scroll;
	-webkit-background-size: cover;
	-ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
	width: 400px;
	height: 400px;
	position: absolute;
	top: 2200px;
	left:700px;
}

.white-box-2 {
	position: relative;
	top: 400px;
	left: 350px;
}

.white-box-text-2 {
	position: absolute;
	top: 2400px;
	left: 100px;
}

.img-offset-3 {
	background: url("../img/beach-umbrella.jpg") no-repeat scroll;
	-webkit-background-size: cover;
	-ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
	width: 400px;
	height: 400px;
	position: absolute;
	top: 2800px;
	left:170px;
}





